<div class="u-form-group u-form-input-layout-horizontal u-form-radiobutton u-label-left u-form-group-3">
  <label class="u-label u-spacing-1 u-label-3">TYPE</label>
  <div>
    <div>
      <input type="radio" name="type" value="light" required>
      <label class="u-label" for="radiobutton">LED</label>
    </div>
    <div>
      <input type="radio" name="type" value="airfan">
      <label class="u-label" for="radiobutton">AIR FAN</label>
    </div>
    <div>
      <input type="radio" name="type" value="ac">
      <label class="u-label" for="radiobutton">AIR Conditioning</label>
    </div>
    <div>
      <input type="radio" name="type" value="servo">
      <label class="u-label" for="radiobutton">SERVO</label>
    </div>
  </div>
</div>