<footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" style="position:sticky;" id="sec-bec8">
    <div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">NJAD 安杰, QQ :3507497566@qq.com</p>
    </div>
</footer>