<div class="u-form-group u-form-input-layout-horizontal u-form-radiobutton u-label-left u-form-group-3">
  <label class="u-label u-spacing-1 u-label-3">TYPE</label>
  <div>
    <div>
      <input type="radio" name="type" value="sns-light-sensitive">
      <label class="u-label" for="radiobutton">LIGHT SENSOR</label>
    </div>
    <div>
      <input type="radio" name="type" value="sns-temp-ds18b20">
      <label class="u-label" for="radiobutton">TEMPERTURE SENSOR</label>
    </div>
    <div>
      <input type="radio" name="type" value="sns-humidity">
      <label class="u-label" for="radiobutton">HUMIDITY SENSOR</label>
    </div>
    <div>
      <input type="radio" name="type" value="sns-pir-motion ">
      <label class="u-label" for="radiobutton">PRESENCE-MOTION SENSOR</label>
    </div>
    <div>
      <input type="radio" name="type" value="rain-sns">
      <label class="u-label" for="radiobutton">RAIN DROP SENSOR</label>
    </div>
    <div>
      <input type="radio" name="type" value="mic">
      <label class="u-label" for="radiobutton">MICROPHONE</label>
    </div>
  </div>
</div>